
server:
  port: 8081
  servlet:
    session:
      timeout: 45m

spring:
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    locale: zh_CN
    generator:
      write-numbers-as-strings: true
      write-bigdecimal-as-plain: true
    serialization:
      write-dates-as-timestamps: false

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: mpw:LrZVy59Rv0W+K4Ax+wtyuNi4o1xSsrdVbrqOEAXvAxi3VLnIjRo6Su2/BLaIsKC3PgB8s49O4LvU5Y8amcj2UdYKDkbP6/e4ZVev51RUBGORHyvZao2UXdaS0f9vbw1x1YLGDNOAorTSerNx2AVCleipuVZZdYYvdc1Lie0TGftvh21ZWMn2x7bTQheSHmIqswSIWTcExUzbn7+gHofSwQ==
    username: mpw:htSYUSUiNwvEzt3oS2i0Aw==
    password: mpw:M95sa++1fuo5423gnuBEKA==
    type: com.alibaba.druid.pool.DruidDataSource

    # 数据源其他配置
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    #   配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
    filters: stat,wall
    maxPoolPreparedStatementPerConnectionSize: 20
    useGlobalDataSourceStat: true

# mybatis-plus
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath*:/mapper/*.xml
